*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.clearfix:before,
.clearfix:after {
    content:"";
    display: table; 
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom: 1;
}

.rand {
    width: 100%;
}
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    box-sizing: border-box; 
    position: relative;
    display:inline;
    float: left;
}
body{
    background-color: whitesmoke;
}
h2{
    font-size: 2.5em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
}
h3{
    font-size: 2em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
}
h4{
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
p, li{
     font-size:1.5em;
     font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.col_1{
    width: 40%;
    min-height:1000px; 
     -moz-background-image: url("dog-bg.jpg");
    -moz-background-size: cover;
    -moz-background-repeat: no-repeat;
    -moz-background-position: center;
    background-image: url('dog-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:whitesmoke;
    position: fixed;
    background-color: #222;
    
   
}
header h1{
    font-size: 4.3em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    padding: 1.5em 2em;
  
}
.col_2{
    width: 60%;
    background-color: whitesmoke;
    position: relative;
    margin-left: 40%;
}

.container2{
  margin: 15%;
}

.subtitle h3{
    margin-top: 3%;
}

    

.box{
    margin-top: 20%;
    line-height: 2.3em; 
}
.button{
    width: 10em;
    height: 3em;
    background-color: #222;
    color: whitesmoke;
    padding-top: 0.8em;
    padding-bottom: 0.75em;
    text-decoration: none;
    position: relative;
    top: 3.5em;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 0.2em;
    margin-bottom: 15em;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;

        
}
.button:hover{
    background-color: whitesmoke;
    color: #222;
    border: 1px solid #222;
}
.hidden{
    background-color: whitesmoke;
    padding: 20px;
    width:20px;
    margin: 2.8em;
    display: block;
}
.content_positive{
    margin-top: 300px;

    line-height: 2em;
    padding-top: 2em;
    
}
.content_positive h4, ol li{
    margin-bottom: 1em;
}
.content_positive> p{
    float: right;
    font-family: 'Satisfy', cursive;
    font-weight: 100;
    font-size: 3em;
    padding-top: 0.5em;
}