*{
	margin:0;
	padding:0;
	font-family: "Bw Modelica", sans-serif;
	box-sizing: border-box;
}

body{
	background-color: white;
	text-align:center; /*For IE6 Shenanigans*/

}


.wrapper{
	width:1260px;
	margin:0 auto;
}

#logo {
	margin-top: 80px;
}
h1 {
	display: block;
	font-size: 40px;
	padding-top: 20px;
	text-align: center;
}
h3 {

	font-weight: 100;
	font-size: 20px;
	padding-top: 20px;
	text-align: center;
}
p {
	width: 750px;
	display: inline-block;
	font-weight: 300;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	line-height: 1.5;

}
.container {
	width:1260px;
	/*height: 300px;*/
	margin:0 auto;
}


#pencil {
	background: url(../images/pencil1.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-size: 760px 90px;
	padding-top: 50px;
	width: 900px;
	height: 110px;
	margin-left:250px;

}

#pencil_broken {
	background: url(../images/pencil2.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-size: 760px 240px;
	width: 900px;
	height: 200px;
	margin-left:250px;
	display:none;
}

.illustrations img{
	width: 0;
	display: none;
	padding-bottom: 50px;
}


 .button {
 	display: inline-block;
	border-color: #000000;
	border-width: 3px;
	width: 300px;
	height: 60px;
	border-style: solid;
	color: #000000;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
	padding-top: 9px;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 50px;

    margin-bottom: 50px;


}

a {
 	   text-decoration: none;
 	   color: #000000;
 }

.button:hover {
    background-color: #000000;
    border-radius: 50px;
    }

.button:hover a {
 	color: white;
 }

 @media (max-width: 750px) {
 	.wrapper{
	width:750px;
	margin:0 auto;
	}

 	#logo {
 
		display: inline-block;
		
	}
	h1 {

		display: inline-block;
		text-align: center;
		font-size: 45px;
	}
	p {
		text-align: center;
		font-size: 14px;
		width: 65%;
	}

	/*#pencil {
		display: inline-block;
		width: 90%;
		height: auto;
	}*/
	h3 {
		text-align: center;
		display: inline-block;
		font-size: 24px;
	}

	#pencil:hover {
		background: url(../images/pencil1.png);
		background-size: 700px 180px;
	}
}

}