body {
	background-image: url('http://worldsbestfacts.com/wp-content/uploads/2014/02/cats_animals_kittens_cat_kitten_cute_desktop_1680x1050_hd-wallpaper-753974.jpeg');
	height: 100%;
}

.heading {
	text-align: center;	
	font-family: helvetica;
	color: turquoise;
}
.link {
	text-align: center;	
	font-family: helvetica;
	color: blue;
	border: 
}