body {
	background-image: url('https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg');
	height: 100%;
}

.heading {
	text-align: center;	
	font-family: helvetica;
	color: magenta;
}
.link {
	text-align: center;	
	font-family: helvetica;
	color: blue;
}