<head>
	<title>Surf Camp</title>
	<link rel="icon" href="http://s.hswstatic.com/gif/surfboard-1.jpg"/>
	<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #4e1818;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

li a:hover {
    background-color: #f8f8f8;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="http://dreamseasurfcamp.com/">Dream Sea</a></li>
  <li><a href="http://dreamseasurfcamp.com/surf-camp/">Surf Camp</a></li>
  <li><a href="http://dreamseasurfcamp.com/surf/">Surfing Lessons</a></li>
  <li><a href="http://dreamseasurfcamp.com/booking/">Booking</a></li>
   <li><a href="http://www.trendsplant.com/en/62-dreamsea">Shop</a></li>
  <li><a href="http://dreamseasurfcamp.com/blog/">Blog</a></li>
  <li><a href="http://dreamseasurfcamp.com/contact/">Contact</a></li>
</ul>
</body>

	<body style="background-color: #f8f8f8">

		<img src="http://dreamseasurfcamp.com/wp-content/uploads/2015/02/surf-camp-france-cover-e1425894244238.jpg" style="width: 100%; height: auto">
		<h2 style="margin: 20 0 0 10; color: #4e1818; font-size: 26px; font-weight: 400; font-family: "Lucida Console", Monaco, monospace">Surfing in France
			<h3 style="margin: 20 0 0 10; color: #723d4e; font-size: 22px; font-weight: 400; font-family: "Lucida Console", Monaco, monospace"; font-style: italic>
				A guide to the best surf spots and regional wineries in Bordeaux.
			</h3>
			<h3 style="text-align: justify; margin: 20 0 0 10;color: #723d4e; font-size: 18px; font-weight: 400;padding: 0px 20px 10px 0; font-family: "Lucida Console", Monaco, monospace">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</h3>
		</h2>
		<style type="text/css">
.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 250px;
    height: 250px;
}
.wraptocenter * {
    vertical-align: middle;
}
</style>
		<div class="wraptocenter"><img src="http://dreamseasurfcamp.com//wp-content/uploads/2014/11/Accommodation1-250x250.jpg" style="width: 250px; height: 250px; margin: 20px 10px 0px 10px"></div>
		<div style="margin: 20 0 0 20; width: 100%" id="container">
			<div style="width: 45%; float: left; padding: 0px 20px 10px 0; text-align: justify; color: #723d4e">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringill a vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</div>
		</div>
		<div style="width: 45%; float: left; padding: 0px 20 10px 0px; text-align: justify; color: #723d4e">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</div>
	</div>
	<div style="margin: 20 20 20 20 ;padding: 0 10px 10px 0 ; float: left; color:#723d4e">See more <a href="http://dreamseasurfcamp.com/" target="_blank">here</a>.</div>
	</div>
	</body>
</head>