* {
	box-sizing: border-box;
}

body {
	background-image: url('https://i.ytimg.com/vi/QD_L4FLFj2Y/maxresdefault.jpg');
	height: 100%;
}

.first-span {
	color: red;
}
.second-span {
	color: blue;
}
.third-span {
	color: orange;
}

.first-div {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid blue;
	padding: 5px;
	text-align: center;
	width: 50%;
	float: left;
	border-radius: 5px;
}
.second-div {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 50%;
	float: left;
}
.margin-left15 {
	border: 1px solid turquoise;
	padding: 5px;
	margin-left: 15px;
}

.dummy.blue-color {
	color: rebeccapurple;
}
.dummy {
	color: red;
}

.dummy span {
	color: red;
}
.dummy div div span {
	color: blue;
}
#butonuMeu {
	transition: margin 0.3s ease-in-out;
}

.blue-rectangle {
	background-color: blue;
}
.green-rectangle {
	background-color: green;
}

.margin-top15 {
	margin-top: 15px;
}
.margin-bottom15 {
	margin-bottom: 15px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }






