
.clearfix:before,
.clearfix:after {
    content:"";
    display: table; 
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom: 1;
}

.rand {
    width: 100%;
}
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    box-sizing: border-box; 
    position: relative;
    display:inline;
    float: left;
}
.col_12 {
    width: 99.2%;
}.col_11 {
    width: 90.804%;
}.col_10 {
    width: 82.47%;
}.col_9 {
    width: 74.144%;
}.col_8 {
    width: 65.80%;
}.col_7 {
    width: 57.47%;
}.col_6 {
    width: 49.1%;
}.col_5 {
    width: 40.80%;
}.col_4 {
    width: 32.47%;
}.col_3 {
    width: 24.13%;
}.col_2 {
    width: 15.80%;
}.col_1 {
    width: 7.47%;
}

