*{
  margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display: table; 
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom: 1;
}

.rand {
    width: 100%;
    height: 100%;
}
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    box-sizing: border-box; 
    position: relative;
    display:inline;
    float: left;
/*    border: 1px solid red;*/
}
.col_12 {
    width: 99.2%;
}.col_11 {
    width: 90.804%;
}.col_10 {
    width: 82.47%;
}.col_9 {
    width: 75.144%;
}.col_8 {
    width: 65.80%;
}.col_7 {
    width: 57.47%;
}.col_6 {
    width: 49.1%;
}.col_5 {
    width: 40.80%;
}.col_4 {
    width: 32.47%;
}.col_3 {
    width: 24.80%;
}.col_2 {
    width: 15.80%;
}.col_1 {
    width: 7.47%;
}
body{
    background-color: white;
}
.container{
    background-color: white;
    max-width: 1200px;
    padding: 30px 60px;
    margin: 0 auto;
}
.first_box{
    margin-bottom: 20px;
}
.first_box img{
    margin-left: 50px;
}
.logo{
    float: left;

}
.social{
    float: right;
    padding-left: 10.8em;
    
}
.social i{
    font-size:30px;  
}
.menu ul li, .meniu ul{
    list-style: none;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
.menu ul li a{
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 10px;
     color: #474136;
}
.menu ul li a:hover{
    border-bottom: 3px solid #EDD21F;
    color: dimgrey;
}
.search_box input[type=search]{
    font-size: 0.90em;
    padding: 10px 20px;
    background-color: ivory;
    border: none;
    width: 100%;
}
.search_box input[type=search]:focus{
    outline-color: #EDD21F;
    
}
.out{
    width: 100%;
    padding:0;
    margin: 0;
    
}
.main_pic{ 
/*=====================================Iniatial am pus poza ca fundal dar asa nu reuseam sa separ opacitatea pozei de Text=====================================
    background-image: url(Furniture-Teak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    
*/
    background-color: black;
     height: 40em;
    overflow: hidden;
    position: relative;
}
.main_pic img{
    opacity: 0.5;
    
}
.main_text{
    text-align: center;
    color: white;
    position: relative;
    top: -950px;
}
.headline{
    background-color: rgba(082,059,019,0.8);
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
}
.headline h2{
    font-size: 3.5em;
}
.span p{
   font-size: 1em;
}
.main_pic button{
    padding: 15px 30px;
    margin-top: 3em;
    font-size: 1em;
/*    border-radius: 5px;*/
    border: none;
    background-color: #EDD21F;
    outline: none;
    -webkit-transform: background 3s ease;
    transform: all 2s ease-in;
   
}
.main_pic button:hover{
    background-color: #DDE80E;

}
.sub_title{
    text-align: center;
      color: color: #474136;
}
.sub_title h2{
    font-size: 2em;
    word-spacing: 10px;
    line-height: 2.5em;
}
.sub_title h3{
    color: dimgrey;
    font-weight: 300;
}
.all_svg{
    float: left;
}
.box_img{
    margin-top: 60px;
    text-align: center;
    padding: 10px;
}
.box_img >svg{
    margin-bottom: 1.5em;
   
}

g:hover{
    stroke:#1e83ec;
}
.new-svg polyline,.new-svg line, .new-svg circle, .new-svg path, .new-svg polygon{
    stroke:#1e83ec;
}
.box_img >h3{
     margin-bottom: 1em;
    
}
.box_img >p{
    color: dimgray;
}