* {
	box-sizing: border-box;
}

body {
	background-image: url('http://sportshypnosispt.co.uk/wp-content/uploads/2014/07/Plane-flying-in-sky-1080p-wallpaper.jpg');
	height: 100%;
}

span {
	color: #ffffff;
}

.first-span {
	color: 	#FF00FF;
}

.first-div {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid white;
	padding: 5px;
	text-align: center;
	width: 50%;
	float: left;
	border-radius: 5px;
}
.second-div {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid white;
	text-align: center;
	width: 50%;
	float: left;
	border-radius: 5px;
}
.margin-left15 {
	padding: 5px;
	margin-left: 15px;
}

.title .airline1 { float:right }
.title .city1 { float:left}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
