* {
	box-sizing: border-box;
	a:link    {color:green; background-color:transparent; text-decoration:underline};
	a:visited {color:purple; background-color:transparent; text-decoration:underline};
	a:hover   {color:red; background-color:transparent; text-decoration:underline};
	a:active  {color:yellow; background-color:transparent; text-decoration:underline};

}

body {
	background-color: white;
	background-repeat: no-repeat;
	font-family: verdana;
	
}



.main_menu {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid red;
	padding: 5px;
	width: 100%;
	float: left;
}

.menu_logo {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid blue;
	background-color: yellow;
	width: 10%;
	float: left;
}

.main_text {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid blue;
	padding: 0px;
	text-align: left;
	color: black;
	background-color: lightyellow;
	width: 90%;
	float: left;
}
.menu_style {
	margin-top: 0px;
	margin-bottom: 15px;
	border: 1px solid red;
	padding: 5px;
	text-align: center;
	width: 100%;
	float: left;
}
.menu_1, .menu_2, .menu_3, .menu_4, .menu_5 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	border: 1px solid blue;
	padding: 5px;
	text-align: center;
	float: left;
	border-radius: 5px;
}
.main_image {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid red;
	padding: 5px;
	width: 100%;
	float: left;
}

@media (max-width: 1281px) {
	.main_menu {
		margin-right: 45px;
		/* media queries to optimize and resize for mobile version */
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }