.logo {
	width: 75px;

}

.jumbotron {
	
	background: white;
	background-image: url("images/cat_looking_at_sunrise-wallpaper-5120x3200.jpg");
	background-size: cover;
    background-position-y: -300px;


}

.jumbotron .container h1,
.jumbotron .container p {

	color: white;
}