 {
    box-sizing: border-box;
}


body {
    background-image: url(ifonly.jpg);
    background-size: cover;
    background-repeat: no-repeat

}


@media (min-width: 1921px) {
  body {
    background-size: 1000px;
  }
}








.poza1 {
    float: left;
    margin-top: 75px;
    margin-left: 200px;
    margin-right: 75px;
    margin-bottom: 50px;
}
.poza1:hover {
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
}

.poza2 {
    float: left;
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 50px;
    
}
.poza2:hover {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

.poza3 {
    float: left;
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 200px;
    margin-bottom: 50px;
}
.poza3:hover {
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}



.despre1 {
    margin-top: 15px;
	margin-bottom: 15px;
	width: 49%;
	float: left;
    text-align: justify;
    font-family: sans-serif;
    border: 1px solid aliceblue;
    color: #002900;
}
    
.margineavietii1 {
    margin: 15px;
}
  
.despre2 {
    margin-top: 15px;
	margin-bottom: 15px;
	width: 49%;
	float: left;
    text-align: justify;
    font-family: sans-serif;
     border: 1px solid aliceblue;
    color: #002900;
    
}

.margineavietii2 {
    margin: 15px;
}



.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

